
$inludePath: "inc/";

@mixin transition($duration:0.5s)  {
  -o-transition: all $duration;
  -moz-transition: all $duration;
  -webkit-transition: all $duration;
  transition: all $duration;
}

::-webkit-input-placeholder {color:#717177;}
::-moz-placeholder          {color:#717177;}/* Firefox 19+ */
:-moz-placeholder           {color:#717177;}/* Firefox 18- */
:-ms-input-placeholder      {color:#717177;}

@font-face {
  font-family: 'icons';
  src: url('#{$inludePath}/fonts/icons.otf');
  src: url('#{$inludePath}/fonts/icons.eot?#iefix') format('embedded-opentype'),
  url('#{$inludePath}/fonts/icons.woff') format('woff'),
  url('#{$inludePath}/fonts/icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'romul';
  src: url('#{$inludePath}/fonts/romul.eot');
  src: url('#{$inludePath}/fonts/romul.eot?#iefix') format('embedded-opentype'),
  url('#{$inludePath}/fonts/romul.woff') format('woff'),
  url('#{$inludePath}/fonts/romul.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo2';
  src: local('Exo 2 Thin'), local('Exo2-Thin'), url('../fonts/exo2medium.woff2') format('woff2'), url('../fonts/exo2medium.woff') format('woff'), url('../fonts/exo2medium.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

